#app {
    width: auto;
    height: 90%;
}

#app > div {
    height: 100%;
}

.graph {
    height: 250px;
    display: flex;
    align-items: baseline;
}

.controls {
    padding: 20px;
}

.controls button {
    background-color: #fff;
    border: solid black 1px;
    padding: 8px;
    margin: 2px;
    outline: none;
    border-radius: 4px;
}

.bar {
    flex: 1 1 auto;
    width: 20px;
    margin-left: 2px;
    transition: all 1s ease;
}